<%= form_with(model: entity) do |form| %>
  <% if entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder: 'name' %>
  </div>

  <div class="field">
    <%= form.text_field :amount, placeholder: 'amount' %>
  </div>

  <div class="select">
    <%
      pre_selected_groups = entity.groups.pluck(:id)
      pre_selected_groups += [@selected_group.id] if @selected_group.present?
    %>
    <%= form.label :groups %>
    <span>press CNTR to choose multiple</span>
    <%= form.select(
      
      :groups, options_for_select(
        groups.collect{|c| ["#{c.icon} #{c.name}", c.id]},
        pre_selected_groups
      ),
      {include_hidden: false}, 
      {multiple: true, required: true, autocomplete: "off"}
    ) 
    %>
  </div>
  
  <%= form.submit %>
<% end %>
