<%= stylesheet_link_tag "entity-preview"%>

<%= button_to @entity, class: "button-to-div", method: :get do %>
    <div class="entity-preview">
        <div class="icon">
            <%= entity.groups[0].icon %>
        </div>
        <div class="name">
            <%= entity.name %>
        </div>
        <div class="created-at">
            <%= entity.created_at.to_fs(:short) %>
        </div>
        <div class="amount">
            <%= number_to_currency(entity.amount, options = {}) %>
        </div>
    </div>
<% end %>
