<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= group.icon %>
  </p>

  <div>
    <strong>entities count:</strong>
    <%= group.entities.count %>
    <% group.entities.each do |entity| %>
      <p><%= entity.name %></p>
      <p><%= entity.amount %></p>
    <% end %>
  </div>
  

</div>
