<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= group.icon %>
  </p>
  <p>
    <strong>total amount:</strong>
    <%= group.total_amount %>
  </p>

  <div>
    <strong>entities count:</strong>
    <%= group.entities.count %>
    <% group.entities.first(5).each do |entity| %>
      <%= render @entity %>
      <p><%= entity.name %></p>
      <p><%= entity.amount %></p>
      <p><%= entity.created_at %></p>
    <% end %>
  </div>
  

</div>
