<div class="group-preview">
    <div class="name">
        <%= group.icon %> <%= group.name %>
    </div>

    <%= render "groups/anctions", group: group %>

    <%= render "group_stats", group: group %>

    <div>
        <strong>entities count: </strong>
        <%= group.entities.count %>
        <% group.entities.first(5).each do |entity| %>
            <%= render "entities/preview", entity: entity, group: group %>
        <% end %>
    </div>
</div>