<main id="<%= dom_id @group %>" class="group-show">
  <div class="new-icon">
    <%= button_to new_group_entity_path(@group), class: "corner-floating-btn" do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
    <% end %>
  </div>
  <h1><%= @group.icon %> <%= @group.name %></h1>

  <%= render "groups/anctions", group: @group %>
  
  <%= render "group_stats", group: @group %>

  <div class="entities">
    <% @entities.each do |entity| %>
      <%= render "entities/preview", entity: entity %>
    <% end %>
    <%= paginate @entities %>
  </div>
</main>

