<div id="<%= dom_id @group %>">
  <%= link_to "New entity", new_group_entity_path(@group) %>

  <p>
    <strong>Name:</strong>
    <%= @group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= @group.icon %>
  </p>
  <p>
    <strong>total amount:</strong>
    <%= @group.total_amount %>
  </p>

  <div>
    <strong>entities count:</strong>
    <%= @group.entities.count %>
    <% @entities.each do |entity| %>
      <p><%= entity.name %></p>
      <p><%= entity.amount %></p>
      <p><%= entity.created_at %></p>
    <% end %>

    <%= paginate @entities %>
  </div>
  

</div>


<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
