<main id="<%= dom_id @group %>" class="group-show">
  <div class="new-icon">
    <%= link_to "New entity", new_group_entity_path(@group) %>
  </div>
  <h1><%= @group.icon %> <%= @group.name %></h1>
  <%= render "group_stats", group: @group %>
  <!--  GROUP ACTIONS  -->
  <div class="entities">
    <% @entities.each do |entity| %>
      <%= render "entities/preview", entity: entity %>
    <% end %>
    <%= paginate @entities %>
  </div>
</main>


<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
