<div class="notification-bar">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</div>

<header>
	

	<div class="back-arrow">
		<%= link_to go_back_path do %>
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		<% end %> 
	</div>
	


	<nav>
		<% if user_signed_in? %>
			<div class="nav-item">
				<%= link_to "My Categories", groups_path  %>
			</div>
			<div class="nav-item">
				<%= link_to "My transactions", entities_path  %>
			</div>
			<div class="nav-item">
				<%= link_to "My Profile", edit_user_registration_path  %>
			</div>
			<div class="nav-item">
				<%= button_to "Log out", destroy_user_session_path, method: :delete, class: "log-out-btn" %>
			</div>
		<% end %>
	</nav>
</header>
